.stepper-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 17.8rem;
    margin-left: 4.9rem;

}

.stepper-box-two {
    display: flex;
}

.stepper-icons {
    display: flex;
    flex-direction: column;
    margin-right: 2.4rem;
}


.stepper-bar-div {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 4px;
    justify-content: center;

}

.stepper-bar-outline {
    background-color: var(--verde-claro);
    width: 3px;
    height: 100%;
}

.stepper-bar {
    width: 3px;
    height: 0%;
    background-color: var(--verde-medio);
    transition: all 500ms ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    5% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.stepper-labels {
    color: var(--verde-medio);
}

.stepper-contents {
    margin-bottom: 2.4rem;
    margin-top: 0.8rem;
    color: var(--cinza-200)
}

/* 
.stepper-step {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.stepper-content {
    display: flex;
    width: 100%;
}

.future-step circle:first-child {
    fill: transparent;
    stroke: var(--verde-medio);
}

.future-step circle:last-child {
    fill: var(--verde-medio);
}

.icon-box {
    display: flex;
    margin-right: 2.4rem;
    position: relative;
}

.text-box {
    gap: 8px;
    width: 100%;
}

.stepper-label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--verde-medio);
    width: 100%;
}

.stepper-description {
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--cinza-200);
    width: 100%;
}

.vertical-line {
    width: 3px;
    height: 40px;
    background-color: var(--verde-medio);
    margin: 0.4rem 2.2rem 0.4rem;
}

.horizontal-line {
    display: none;
    height: 2px;
    background-color: var(--verde-medio);
    width: 100%;
    margin-left: 10px;
}

.stepper-icon {
    width: 4.7rem;
}

@media (max-width: 1181px) {

    .stepper-box {
        margin-left: 3rem;
    }

    .stepper-label,
    .stepper-description {
        font-size: 1.6rem;
    }
}

@media (max-width: 920px) {
    .stepper-box {
        height: 100%;
        margin: 0;
        flex-direction: row;
        padding: 0 1rem 0 2rem;
        transform: scale(1);
        width: 100%;
    }

    .stepper-content {
        flex-direction: column;

    }

    .icon-box {
        align-items: center;
        margin-bottom: 1rem;
        margin-right: 1rem;
    }

    .vertical-line {
        display: none
    }

    .horizontal-line {
        display: flex;
    }

    .stepper-icon {
        width: 2.5rem;
    }

    .text-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        padding-right: 2rem;
    }

    .stepper-label {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 1.4rem;
        color: var(--verde-medio);
    }

    .stepper-description {
        font-family: 'Nunito';
        font-weight: 600;
        font-size: 1rem;
        color: var(--cinza-200);

    }
} */