.billing-list {
    height: 100%;
    width: 32%;

    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0.4rem 0.4rem rgba(172, 217, 197, 0.25);

    border-radius: 3rem;
}

.billing-header {
    height: 5.8rem;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 5.6rem;
    padding-right: 2.4rem;

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;

    border-bottom: 1px solid #eff0f6;
}

.number-of-billings {
    width: 5.2rem;
    height: 2.1rem;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
}