.billings-data {
    width: 100%;
    height: calc(100% - 8.2rem);

    display: flex;
    flex-direction: column;

    justify-content: space-between;
    padding-right: 11.4rem;
    padding-bottom: 4.5rem;

    position: relative;
}

.billings-header {
    width: 100%;
    height: 9.4rem;
    display: flex;
    padding: 3.1rem 11.3rem 3.1rem 9.85rem;

    align-items: center;
    justify-content: space-between;
}

.billings-header--left,
.billings-header--right {
    display: flex;
    align-items: center;

}

.billings-header--left {
    gap: 2.2rem;
}

.billings-header--right {
    gap: 1.6rem;
    position: relative;
}

.billings-header--tag {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2.6rem;
    color: var(--cinza-200);
}