.container-tab {
    display: flex;
    gap: 1rem;
    height: 0.6rem;
    position: absolute;
    align-self: center;
    left: calc(50% - 13.3rem);
    bottom: 6.4rem;
}

.tab {
    width: 8.2rem;
    background-color: var(--cinza-600);
    border-radius: 20px;
    position: relative;
    /* transition: all 500ms ease-in-out; */
}


.inner-tab {
    position: absolute;
    background-color: var(--verde-medio);
    border-radius: 20px;
    top: 0;
    bottom: 0;
}

.inner-tab-first {
    position: absolute;
    background-color: var(--verde-medio);
    border-radius: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}



.inner-tab-one {
    position: absolute;
    background-color: var(--verde-medio);
    border-radius: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 500ms ease-in-out;
}

.green,
.grey {
    width: 8.2rem;
    border-radius: 20px;
}

.green {
    border: 2px solid #0E8750;
    background-color: var(--verde-medio);

}

.grey {
    border: 2px solid #DEDEE9;
    background-color: #DEDEE9;
}