.container-sign-up {
    display: flex;
    background-color: #F0F0F5;
    min-height: 100vh;
    width: 100vw;
    position: relative;
}

.content-dados {
    width: 70vw;
    background-color: #F8F8F9;
    position: relative;
    display: flex;
    justify-content: center;
}


.back-btn {
    position: absolute;
    top: 10px;
    left: 540px;
    width: 40px;
    z-index: 1;

    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.back-btn:hover {
    transform: scale(1.1);
}


.signup-carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-vertical {
    width: 30vw;
    min-width: 47rem;
    display: flex;
}